:root {
  --bg: #ffffff;
  --text: #000000;
}

.dark {
  --bg: #0d1117;
  --text: #ffffff;
}

body {
  margin: 0;
  background: var(--bg);
  color: var(--text);
  font-family: Arial;
}

.center {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  margin-top: 80px;
}
